.a {
  float: left;
  width: 60%;
}

.b {
  float: right;
  width: 40%;
  text-align: left;
}

.a ul {
  list-style: none;
  padding: 0;
}

.a ul span {
  width: 40px;
  display: inline-block;
}

button {
  width: 80%;
}
